{
  "root": true,
  "extends": ["warp/node", "warp/module"],
  "rules": {
    "no-console": "off"
  },
  "overrides": [{
    "files": ["lib/cli.js"],
    "rules": {
      "no-unused-expressions": "off",
      "global-require": "warn"
    }
  }]
}
